<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="assets/images/LogoMakr_VetWeb.png" alt="">
        </a>
    </div>
    <div class="login-form">
        <form [formGroup]="forgetPassForm" (submit)="onSendEmail()">
            <div class="form-group">
                <label>{{'AUTHENTICATION.EMAIL' | translate}}</label>
                <input formControlName="userMail" type="email" class="form-control" placeholder="Email">
                <small *ngIf="(!forgetPassForm.get('userMail').errors?.nonExistentUser && forgetPassForm.get('userMail').touched)" class="text-success">{{'FORMS.MESSAGES.USER_EXISTS' | translate}}</small>
                <vetweb-error *ngIf="forgetPassForm.get('userMail').errors?.alreadySent" errorMessage="{{'FORMS.MESSAGES.HAS_VALID_HASH' | translate}}"></vetweb-error>
                <vetweb-error *ngIf="forgetPassForm.get('userMail').errors?.nonExistentUser && forgetPassForm.get('userMail').touched" errorMessage="{{'FORMS.MESSAGES.USER_NOT_EXISTS' | translate}}"></vetweb-error>
            </div>
            <button type="submit" class="btn btn-primary btn-flat m-b-15" [disabled]="forgetPassForm.get('userMail').errors?.alreadySent
                || forgetPassForm.get('userMail').errors?.nonExistentUser
                || alreadySent
                || forgetPassForm.get('userMail').errors?.required">{{'FORGOT.SUBMIT' | translate}}</button>
        </form>
    </div>

    <vetweb-modal title="{{(error ? ('MODAL.LABELS.EMAIL_NOT_SENT' | translate) : ('MODAL.LABELS.EMAIL_SENT' | translate))}}" 
            message="{{(error ? ('AUTHENTICATION.FORGOT_EMAILL_NOT_SENT' | translate) : ('AUTHENTICATION.FORGOT_EMAIL_SENT' | translate))}}"
            typeAlert="{{error ? 'error' : 'success'}}" #vetwebModal></vetweb-modal>

</div>