<div class="login-content">
        <div class="login-logo">
            <a href="index.html">
                <img class="align-content" src="assets/images/LogoMakr_VetWeb.png" alt="">
            </a>
        </div>
        <div class="login-form">
            <form [formGroup]="resetPassForm" (submit)="onConfirm()">

                <div class="form-group">
                    <label>{{'FORGOT.NEW_PASSWORD' | translate}}</label>
                    <input formControlName="newPassword" [(ngModel)]="user.password" type="password" class="form-control" placeholder="{{'AUTHENTICATION.PASSWORD' | translate}}">
                    <vetweb-error *ngIf="(resetPassForm.get('newPassword').errors?.required && resetPassForm.get('newPassword').touched)" errorMessage="{{'FORMS.MESSAGES.REQUIRED_PASSWORD' | translate}}"></vetweb-error>
                    <vetweb-error *ngIf="(!resetPassForm.get('newPassword').errors?.required && resetPassForm.get('newPassword').hasError('minlength'))" errorMessage="{{'FORGOT.MINLENGTH' | translate}}"></vetweb-error>
                    <vetweb-error *ngIf="(!resetPassForm.get('newPassword').errors?.required && resetPassForm.get('newPassword').hasError('maxlength'))" errorMessage="{{'FORGOT.MAXLENGTH' | translate}}"></vetweb-error>
                </div>

                <div class="form-group">
                    <label>{{'FORGOT.NEW_PASSWORD_CONFIRM' | translate}}</label>
                    <input formControlName="newPasswordConfirm" type="password" class="form-control" placeholder="{{'AUTHENTICATION.PASSWORD_CONFIRM' | translate}}">
                    <small *ngIf="(resetPassForm.get('newPassword').valid && resetPassForm.get('newPasswordConfirm').valid && !resetPassForm.errors?.passConfDontMatch)" class="text-success">{{'FORMS.MESSAGES.PASS_CONF_SAME' | translate}}</small>
                    <vetweb-error *ngIf="(resetPassForm.get('newPasswordConfirm').errors?.required && resetPassForm.get('newPasswordConfirm').touched)" errorMessage="{{'FORMS.MESSAGES.PASS_CONF' | translate}}"></vetweb-error>
                    <vetweb-error *ngIf="(resetPassForm.errors?.passConfDontMatch && resetPassForm.get('newPasswordConfirm').touched)" errorMessage="{{'FORMS.MESSAGES.PASS_CONF_NOT_SAME' | translate}}"></vetweb-error>                    
                </div>

                <button type="submit" class="btn btn-primary btn-flat m-b-15" [disabled]="resetPassForm.errors?.passConfDontMatch
                    || resetPassForm.get('newPassword').errors?.required
                    || resetPassForm.get('newPassword').hasError('minlength')
                    || resetPassForm.get('newPassword').hasError('maxlength')
                    || confirmed
                    || expiredOrInvalid
                    || resetPassForm.get('newPasswordConfirm').errors?.required">{{'FORGOT.CONFIRM' | translate}}</button>
            </form>
        </div>

        <vetweb-modal title="{{'MODAL.LABELS.SUCCESS' | translate}}" message="{{'FORGOT.RESETED' | translate}}" typeAlert="success" #vetwebModal></vetweb-modal>

        <div class="alert alert-danger" role="alert" *ngIf="expiredOrInvalid">
            {{'FORGOT.EXPIRED_OR_INVALID' | translate}}
        </div>        
    
    </div>