<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="assets/images/LogoMakr_VetWeb.png" alt="">
        </a>
    </div>
    <div class="login-form">
        <form [formGroup]="newUserForm" (submit)="onSave()">
            <div class="form-group">
                <label>{{'AUTHENTICATION.USERNAME' | translate}}</label>
                <input formControlName="userName" type="email" class="form-control" placeholder="{{'AUTHENTICATION.USERNAME' | translate}}">

                <vetweb-error *ngIf="(newUserForm.get('userName').errors?.required && newUserForm.get('userName').touched)" errorMessage="{{'FORMS.MESSAGES.REQUIRED_USER' | translate}}"></vetweb-error>

            </div>
            <div class="form-group">
                <label>{{'AUTHENTICATION.EMAIL' | translate}}</label>
                <input formControlName="userMail" type="email" class="form-control" placeholder="{{'AUTHENTICATION.EMAIL' | translate}}">
                <small *ngIf="newUserForm.get('userMail').valid" class="text-success">{{'FORMS.MESSAGES.VALID_EMAIL' | translate}}</small>
                
                <vetweb-error *ngIf="(newUserForm.get('userMail').errors?.required  && newUserForm.get('userMail').touched)" errorMessage="{{'FORMS.MESSAGES.REQUIRED_EMAIL' | translate}}"></vetweb-error>
                <vetweb-error *ngIf="(newUserForm.get('userMail').errors?.email  && newUserForm.get('userMail').touched)" errorMessage="{{'FORMS.MESSAGES.INVALID_EMAIL' | translate}}"></vetweb-error>
                <vetweb-error *ngIf="newUserForm.get('userMail').errors?.emailAlreadyInUse" errorMessage="{{'FORMS.MESSAGES.USER_EXISTS' | translate}}"></vetweb-error>

            </div>

            <div class="checkbox">
                <label>
                    <input formControlName="isSocialLogin" type="checkbox"> <label>{{'AUTHENTICATION.SOCIAL_LOGIN_ENABLE' | translate}}</label>

                    <vetweb-error *ngIf="newUserForm.errors?.socialLoginNotEnabled" errorMessage="{{'FORMS.MESSAGES.INTEGRATION_DISABLE' | translate}}"></vetweb-error>

                </label>
            </div>
                
            <div class="checkbox">
                <label>
                    <input formControlName="useTwoFactorAuth" type="checkbox"> {{'AUTHENTICATION.2FA_ENABLE' | translate}}
                </label>
            </div>                

            <div class="checkbox">
                <label>
                    <input formControlName="termsAcceptance"type="checkbox"> {{'AUTHENTICATION.TERMS' | translate}}
                    <vetweb-error *ngIf="newUserForm.hasError('required', 'termsAcceptance')" errorMessage="{{'FORMS.MESSAGES.TERMS_ACCEPTANCE' | translate}}"></vetweb-error>
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" [disabled]="newUserForm.invalid || newUserForm.pending">{{'AUTHENTICATION.REGISTRATION' | translate}}</button>
            <div class="social-login-content">
                <div class="social-button">
                    <button type="button" class="btn social facebook btn-flat btn-addon mb-3" [disabled]="!isFacebookSupported"><i class="ti-facebook"></i>{{'AUTHENTICATION.SOCIAL_SIGNIN' | translate:{'platform':'facebook'} }}</button>
                    <button type="button" class="btn social twitter btn-flat btn-addon mt-2" [disabled]="!isTwitterSupported"><i class="ti-twitter"></i>{{'AUTHENTICATION.SOCIAL_SIGNIN' | translate:{'platform':'twitter'} }}</button>
                </div>
            </div>
            <div class="register-link m-t-15 text-center">
                <p><a [routerLink]="['/auth/login']">{{'AUTHENTICATION.SIGNIN' | translate}}</a></p>
            </div>
        </form>
        
        <div id="successMessageLabel" style="display: none;">{{'FORMS.MESSAGES.USER_SUCCESS' | translate}}</div>
        <div id="successMessageText" style="display: none;">{{'FORMS.MESSAGES.USER_SUCCESS_MESSAGE' | translate}}</div>
        <div id="errorMessageLabel" style="display: none;">{{'MODAL.LABELS.ERROR' | translate}}</div>
        <div id="errorMessageText" style="display: none;">{{'FORMS.MESSAGES.USER_ERROR_MESSAGE' | translate}}</div>
        
    </div>