<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="assets/images/logo.png" alt="">
        </a>
    </div>
    <div class="login-form">
        <form [formGroup]="newUserForm" (submit)="onSave()">
            <div class="form-group">
                <label>{{'AUTHENTICATION.USERNAME' | translate}}</label>
                <input formControlName="userName" type="email" class="form-control" placeholder="User Name">

                <vetweb-error *ngIf="(newUserForm.get('userName').errors?.required && newUserForm.get('userName').touched)" errorMessage="User name is required!"></vetweb-error>

            </div>
            <div class="form-group">
                <label>{{'AUTHENTICATION.EMAIL' | translate}}</label>
                <input formControlName="userMail" type="email" class="form-control" placeholder="Email">
                <small *ngIf="newUserForm.get('userMail').valid" class="text-success">Valid user email</small>
                
                <vetweb-error *ngIf="(newUserForm.get('userMail').errors?.required  && newUserForm.get('userMail').touched)" errorMessage="Email to authenticate is required!"></vetweb-error>
                <vetweb-error *ngIf="(newUserForm.get('userMail').errors?.email  && newUserForm.get('userMail').touched)" errorMessage="Must be a valid email!"></vetweb-error>
                <vetweb-error *ngIf="newUserForm.get('userMail').errors?.emailAlreadyInUse" errorMessage="User with provided email already exists!"></vetweb-error>

            </div>
            <div class="form-group">
                <label>{{'AUTHENTICATION.PASSWORD' | translate}}</label>
                <input formControlName="password" type="password" class="form-control" placeholder="Password">

                <vetweb-error *ngIf="(newUserForm.get('password').errors?.required && newUserForm.get('password').touched)" errorMessage="Password is required!"></vetweb-error>

            </div>

            <div class="form-group">
                <label>{{'AUTHENTICATION.PASSWORD_CONFIRM' | translate}}</label>
                <input formControlName="passwordConfirmation" type="password" class="form-control" placeholder="Password confirmation">
                <small *ngIf="(newUserForm.get('password').valid && newUserForm.get('passwordConfirmation').valid && !newUserForm.errors?.passConfDontMatch)" class="text-success">Password and confirmation matching</small>
        
                <vetweb-error *ngIf="(newUserForm.get('passwordConfirmation').errors?.required && newUserForm.get('passwordConfirmation').touched)" errorMessage="Confirm your password!"></vetweb-error>
                <vetweb-error *ngIf="(newUserForm.errors?.passConfDontMatch && newUserForm.get('passwordConfirmation').touched)" errorMessage="Password and confirmation must be equals!"></vetweb-error>
                
            </div>

            <div class="checkbox">
                <label>
                    <input formControlName="isSocialLogin" type="checkbox"> <label>{{'AUTHENTICATION.SOCIAL_LOGIN_ENABLE' | translate}}</label>

                    <vetweb-error *ngIf="newUserForm.errors?.socialLoginNotEnabled" errorMessage="This email provider is not enable to social login integration!"></vetweb-error>

                </label>
            </div>
                
            <div class="checkbox">
                <label>
                    <input formControlName="useTwoFactorAuth" type="checkbox"> {{'AUTHENTICATION.2FA_ENABLE' | translate}}
                </label>
            </div>                

            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{'AUTHENTICATION.TERMS' | translate}}
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" [disabled]="newUserForm.invalid || newUserForm.pending">{{'AUTHENTICATION.REGISTRATION' | translate}}</button>
            <div class="social-login-content">
                <div class="social-button">
                    <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>{{'AUTHENTICATION.SOCIAL_SIGNIN' | translate:{'platform':'facebook'} }}</button>
                    <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>{{'AUTHENTICATION.SOCIAL_SIGNIN' | translate:{'platform':'twitter'} }}</button>
                </div>
            </div>
            <div class="register-link m-t-15 text-center">
                <p><a href="#">{{'AUTHENTICATION.SIGNIN' | translate}}</a></p>
            </div>
        </form>
    </div>