<div class="inbox_people">
  <div class="headind_srch">
    <div class="recent_heading">
      <h4>Recent</h4>
    </div>
    <div class="srch_bar">
      <div class="stylish-input-group">
        <input type="text" class="search-bar"  placeholder="Search" >
        <span class="input-group-addon">
        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
        </span> </div>
    </div>
  </div>
  <div class="inbox_chat">

    <div  *ngFor="let contact of contacts"  [ngClass]="{'chat_list': true, 'active_chat': contact.mostRecentContact}">
      <div class="chat_people">
        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
        <div class="chat_ib">
          <h5>{{ contact.user.userEmail }} <span class="chat_date">{{ contact.messages != undefined && contact.messages.length ? contact.messages[contact.messages.length - 1].sentAt : '' }}</span></h5>
          <p>{{ contact.messages != undefined && contact.messages.length ? contact.messages[contact.messages.length - 1].text : 'No messages yet' }}</p>
        </div>
      </div>
    </div>
    
  </div>
</div>