<div class="inbox_people">

  <ng-content>
  </ng-content>

  <div class="inbox_chat">

    <div  *ngFor="let contact of contacts"  [ngClass]="{'chat_list': true, 'active_chat': contact.mostRecentContact}">
      <div class="chat_people">
        <div class="chat_img" (click)="selectUser(contact)"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>

        <ng-container *ngIf="hasMessagesForMe(contact) && !isSearching; else searching">
          <div class="chat_ib">
            <h5>{{ contact.user.userEmail }} <span class="chat_date">{{ true ? contact.messages[contact.messages.length - 1].sentAt : '' }}</span></h5>
            <p class="lastMessage">{{ true ? contact.messages[contact.messages.length - 1].text : 'No messages yet' }}</p>
          </div>
        </ng-container>

        <ng-template #searching>
          <ng-container *ngIf="isSearching; else noMessages">
              <div class="chat_ib">
                <h5>{{ contact.user.userEmail }} <span class="chat_date">{{ contact.lastFoundedMessage !== undefined? contact.lastFoundedMessage.sentAt : '' }}</span></h5>
                <p class="lastMessage">{{ contact.lastFoundedMessage !== undefined ? contact.lastFoundedMessage.text : 'No messages founded with this term for this contact' }}</p>
              </div>
          </ng-container>
        </ng-template>

        <ng-template #noMessages>
          <div class="chat_ib">
            <h5>{{ contact.user.userEmail }} <span class="chat_date"></span></h5>
            <p class="lastMessage">No messages yet</p>
          </div>
        </ng-template>

      </div>
    </div>
    
  </div>
</div>