<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="assets/images/LogoMakr_VetWeb.png" alt="">
        </a>
    </div>
    <div class="login-form">
        <form [formGroup]="authForm" (submit)="login()">
            <div class="form-group">
                <label>{{'AUTHENTICATION.EMAIL' | translate}}</label>
                <input #nameInput formControlName="email" type="email" class="form-control" placeholder="{{'AUTHENTICATION.EMAIL' | translate}}">

                <small *ngIf="(!authForm.get('email').errors?.required && !authForm.get('email').errors?.nonExistentUser && authForm.get('email').touched)" class="text-success">{{'FORMS.MESSAGES.USER_EXISTS' | translate}}</small>

                <vetweb-error *ngIf="(authForm.get('email').errors?.required && authForm.get('email').touched)" errorMessage="{{'FORMS.MESSAGES.REQUIRED_USER' | translate}}"></vetweb-error>
                <vetweb-error *ngIf="authForm.get('email').errors?.nonExistentUser" errorMessage="{{'FORMS.MESSAGES.USER_NOT_EXISTS' | translate}}"></vetweb-error>

            </div>
            <div class="form-group">
                <label>{{'AUTHENTICATION.PASSWORD' | translate}}</label>
                <input formControlName="password" type="password" class="form-control" placeholder="{{'AUTHENTICATION.PASSWORD' | translate}}">

                <vetweb-error *ngIf="(authForm.get('password').errors?.required && authForm.get('password').touched)" errorMessage="{{'FORMS.MESSAGES.REQUIRED_PASSWORD' | translate}}"></vetweb-error>
                <vetweb-error *ngIf="authForm.errors?.wrongCredentials" errorMessage="{{'FORMS.MESSAGES.USER_PASSWORD_SAME' | translate}}"></vetweb-error>

            </div>
            <ng-template [ngIf]="authForm.get('email').errors?.usingTFA && authForm.get('email').touched">
                <div class="form-group">

                <label>{{'AUTHENTICATION.2FA' | translate}}</label>
                <input formControlName="authCode" id="inputAuthenticatorToken" type="text" class="form-control" name="authCode" placeholder="{{'FORMS.MESSAGES.2FA_TOKEN' | translate}}" [required]="authForm.get('email').errors?.usingTFA">	
          
                  <vetweb-error *ngIf="(authForm.get('authCode').errors?.required && authForm.get('authCode').touched)" errorMessage="{{'FORMS.MESSAGES.USER_2FA' | translate}}"></vetweb-error>
          
                </div>
            </ng-template>            
            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{'AUTHENTICATION.REMEMBER' | translate}}
                </label>
                <label class="pull-right">
                    <a [routerLink]="['/auth/forget']">{{'AUTHENTICATION.FORGOT' | translate}}</a>
                </label>

            </div>

            <vetweb-error *ngIf="errorMessage !== ''" [errorMessage]="errorMessage"></vetweb-error>

            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" [disabled]="(authForm.pending || 
                authForm.get('email').errors?.required || 
                authForm.get('password').errors?.required || 
                (authForm.get('email').errors?.usingTFA && authForm.get('authCode').errors?.required))">{{'AUTHENTICATION.ENTER' | translate}}</button>
            <div class="social-login-content">
                <div class="social-button">
                    <button type="button" class="btn social facebook btn-flat btn-addon mb-3" [disabled]="!isFacebookSupported"><i class="ti-facebook"></i>{{'AUTHENTICATION.SOCIAL_LOGIN' | translate:{'platform':'facebook'} }}</button>
                    <button type="button" class="btn social twitter btn-flat btn-addon mt-2" [disabled]="!isTwitterSupported"><i class="ti-twitter"></i>{{'AUTHENTICATION.SOCIAL_LOGIN' | translate:{'platform':'twitter'} }}</button>
                </div>
            </div>
            <div class="register-link m-t-15 text-center">
                <p><a [routerLink]="['/auth/register-user']"> {{'AUTHENTICATION.SIGNUP' | translate}}</a></p>
            </div>
        </form>
    </div>
</div>