<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="assets/images/logo.png" alt="">
        </a>
    </div>
    <div class="login-form">
        <form [formGroup]="authForm" (submit)="login()">
            <div class="form-group">
                <label>{{'AUTHENTICATION.EMAIL' | translate}}</label>
                <input  #nameInput formControlName="email" type="email" class="form-control" placeholder="Email">

                <small *ngIf="(!authForm.get('email').errors?.required && !authForm.get('email').errors?.nonExistentUser && authForm.get('email').touched)" class="text-success">User exists</small>

                <vetweb-error *ngIf="(authForm.get('email').errors?.required && authForm.get('email').touched)" errorMessage="User is required!"></vetweb-error>
                <vetweb-error *ngIf="authForm.get('email').errors?.nonExistentUser" errorMessage="User does not exist!"></vetweb-error>

            </div>
            <div class="form-group">
                <label>{{'AUTHENTICATION.PASSWORD' | translate}}</label>
                <input formControlName="password" type="password" class="form-control" placeholder="Password">

                <vetweb-error *ngIf="(authForm.get('password').errors?.required && authForm.get('password').touched)" errorMessage="Password is required!"></vetweb-error>
                <vetweb-error *ngIf="authForm.errors?.wrongCredentials" errorMessage="User and password must not be the same!"></vetweb-error>

            </div>
            <ng-template [ngIf]="authForm.get('email').errors?.usingTFA && authForm.get('email').touched">
                <div class="form-group">

                <label>{{'AUTHENTICATION.2FA' | translate}}</label>
                <input formControlName="authCode" id="inputAuthenticatorToken" type="text" class="form-control" name="authCode" placeholder="Authenticator Generated Token" [required]="authForm.get('email').errors?.usingTFA">	
          
                  <vetweb-error *ngIf="(authForm.get('authCode').errors?.required && authForm.get('authCode').touched)" errorMessage="You choose to use two factor authentication, please provide generated token!"></vetweb-error>
          
                </div>
            </ng-template>            
            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{'AUTHENTICATION.REMEMBER' | translate}}
                </label>
                <label class="pull-right">
                    <a href="#">{{'AUTHENTICATION.FORGOT' | translate}}</a>
                </label>

            </div>

            <vetweb-error *ngIf="errorMessage !== ''" [errorMessage]="errorMessage"></vetweb-error>

            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" [disabled]="(authForm.pending || 
                authForm.get('email').errors?.required || 
                authForm.get('password').errors?.required || 
                (authForm.get('email').errors?.usingTFA && authForm.get('authCode').errors?.required))">{{'AUTHENTICATION.ENTER' | translate}}</button>
            <div class="social-login-content">
                <div class="social-button">
                    <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>{{'AUTHENTICATION.SOCIAL_LOGIN' | translate:{'platform':'facebook'} }}</button>
                    <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>{{'AUTHENTICATION.SOCIAL_LOGIN' | translate:{'platform':'twitter'} }}</button>
                </div>
            </div>
            <div class="register-link m-t-15 text-center">
                <p><a href="#"> {{'AUTHENTICATION.SIGNUP' | translate}}</a></p>
            </div>
        </form>
    </div>
</div>